* {
	box-sizing:  border-box;
}
body {
	background-color: #bfbfbf;
}
h1 {
	font-family:  Helvetica;
	text-align: center;
}
div {
	background-color: #ffffff;
	font-family:  Helvetica;
	width:  100%;
	margin-right:  auto;
	margin-left:  auto;
	text-align: center;
}


.row {
	width:  100%;
}
.row1, .row2, .row3 {
	float: left;
	padding:  30px 10px 10px 10px;
	position:  relative;
	border: 2px solid black;
	margin: 2px;
}
.title1, .title2, .title3 {
	color: #ffffff;
	font-weight: bold;
	font-size: 20px;
	position: absolute;
	top: 0;
	right: 0;
	width: 30%;
	text-align: center;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
}


.title1 {
	background-color: #660708;
}
.title2 {
	background-color: #2C497F;
}
.title3 {
	background-color: #12664F;
}


/*desktop view*/
@media (min-width: 992px) {
	.row1, .row2, .row3 {
		width: calc(33.33% - 4px);
	}

}

/*tablet view*/
@media (min-width: 768px) and (max-width: 991px) {
	.row1, .row2 {
		width: calc(50% - 4px);
	}
	.row3 {
		width: 100%;
	}
}

/*mobile view*/
@media (max-width: 767px) {
	.row1, .row2, .row3 {
		width: 100%;
	}
}
